# Pandas Assignment 2

#### 1. Data for all of the locations of Petal Power is in the file inventory.csv. Load the data into a DataFrame called inventory.

In [3]:
import pandas as pd

In [58]:
inventory  = pd.read_csv("inventory.csv")

#### 2. Inspect the first 10 rows of inventory.

In [60]:
inventory.head(10)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

#### 3. The first 10 rows represent data from your Staten Island location. Select these rows and save them to staten_island.

In [64]:
staten_island = inventory.head(10)

In [66]:
staten_island

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

#### 4. A customer just emailed you asking what products are sold at your Staten Island location. Select the column product_description from staten_island and save it to the variable product_request.

In [71]:
product_request = staten_island["product_description"]
product_request

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

#### 5. Another customer emails to ask what types of seeds are sold at the Brooklyn location.

In [74]:
seed_request = inventory[(inventory["location"] == "Brooklyn" ) & (inventory["product_type"] == "seeds")]
seed_request

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

#### 6. Add a column to inventory called in_stock which is True if quantity is greater than 0 and False if quantity equals 0.

In [76]:
inventory["in_stock"] = inventory.quantity.apply(lambda qty: True if qty > 0 else False)

In [81]:
inventory.in_stock.value_counts()

in_stock
True     24
False     5
Name: count, dtype: int64

#### 7. Petal Power wants to know how valuable their current inventory is.
###### Create a column called total_value that is equal to price multiplied by quantity.

In [93]:
inventory["total_value"] = inventory.apply(lambda row: row["price"] * row["quantity"] , axis=1)
inventory["total_value"]

0       27.96
1      919.54
2     1189.15
3       55.96
4        0.00
5     1859.07
6      961.26
7      191.92
8        0.00
9      211.47
10     349.50
11       0.00
12       0.00
13     209.85
14    7379.18
15     719.64
16    1039.20
17    1823.24
18      89.95
19     103.74
20     398.43
21    1899.05
22     629.55
23     293.79
24    8819.02
25     519.74
26       0.00
27     383.84
28    1565.13
Name: total_value, dtype: float64

#### 8. The Marketing department wants a complete description of each product for their catalog.

##### The following lambda function combines product_type and product_description into a single string:

###### combine_lambda = lambda row: \
######    '{} - {}'.format(row.product_type,
######                     row.product_description)
###### Paste this function into script.py.

In [98]:
combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)

#### 9. Using combine_lambda, create a new column in inventory called full_description that has the complete description of each product.

In [106]:
inventory["full_description"] = inventory.apply(combine_lambda,axis=1)
inventory["full_description"]

0                            seeds - daisy
1                       seeds - calla lily
2                           seeds - tomato
3                      garden tools - rake
4               garden tools - wheelbarrow
5                     garden tools - spade
6             pest_control - insect killer
7               pest_control - weed killer
8     planter - 20 inch terracotta planter
9         planter - 8 inch plastic planter
10                           seeds - daisy
11                      seeds - calla lily
12                          seeds - tomato
13                     garden tools - rake
14              garden tools - wheelbarrow
15                    garden tools - spade
16            pest_control - insect killer
17              pest_control - weed killer
18    planter - 20 inch terracotta planter
19        planter - 8 inch plastic planter
20                           seeds - daisy
21                      seeds - calla lily
22                          seeds - tomato
23                     garden tools - rake
24              garden tools - wheelbarrow
25                    garden tools - spade
26            pest_control - insect killer
27              pest_control - weed killer
28    planter - 20 inch terracotta planter
Name: full_description, dtype: object

In [ ]:
inventory.drop(["complete description"])