### Pandas Assignment 3

### LEARN DATA ANALYSIS WITH PANDAS
#### Page Visits Funnel
##### Cool T-Shirts Inc. has asked you to analyze data on visits to their website. Your job is to build a funnel, which is a description of how many people continue to the next step of a multi-step process.

#### In this case, our funnel is going to describe the following process:
    - A user visits CoolTShirts.com
    - A user adds a t-shirt to their cart
    - A user clicks “checkout”
    - A user actually purchases a t-shirt

### Funnel for Cool T-Shirts Inc.

### 1. Inspect the DataFrames using print and head:

In [16]:
import pandas as pd

In [50]:
visits = pd.read_csv("visits.csv")
cart = pd.read_csv("cart.csv")
checkout = pd.read_csv("checkout.csv")
purchase = pd.read_csv("purchase.csv")

print(f"""visit shape: {visits.shape} 
cart shape: {cart.shape} 
checkout shape: {checkout.shape} 
purchase shape: {purchase.shape} """)

visit shape: (2000, 2)
cart shape: (348, 2)
checkout shape: (360, 2)
purchase shape: (252, 2)

In [30]:
visits.head()

                                user_id           visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188  2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1  2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab  2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96  2017-02-27 11:25:00

In [22]:
cart.head()

                                user_id            cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168  2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973  2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663  2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3  2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974  2017-07-26 15:48:00

In [52]:
checkout.head()

                                user_id        purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85  2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac  2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc  2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d  2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867  2017-06-11 11:32:00

In [54]:
purchase.head()

                                user_id        checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d  2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e  2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d  2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a  2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd  2017-01-08 20:52:00

In [63]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     2000 non-null   object
 1   visit_time  2000 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

### 2. Combine visits and cart using a left merge.

In [82]:
visits_cart = pd.merge(left=visits,right=cart,how="left")
visits_cart.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaN
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaN

### 3. How long is your merged DataFrame?

In [75]:
visits_cart.shape

(2000, 3)

### 4. How many of the timestamps are null for the column cart_time?

### What do these null rows mean?

In [78]:
visits_cart.cart_time.isna().sum()

1652

##### these null values mean that a customer visited the website but did not add any item to the cart

### 5. What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

In [101]:
print(f"""
{(1652/2000)*100} % of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart
""")

82.6 % of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart

### 6. Repeat the left merge for cart and checkout and count null values. What percentage of users put items in their cart, but did not proceed to checkout?

In [104]:
cart_checkout = pd.merge(left=cart,right=checkout,how="left")
cart_checkout.shape

(482, 3)

In [118]:
cart_checkout.checkout_time.isna().sum()

122

In [124]:
print(f"""
{( (122/482)*100):.2f}% of users put items in their cart, but did not proceed to checkout
""")

25.31% of users put items in their cart, but did not proceed to checkout

### 7. Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable all_data.

### Examine the result using print and head

In [129]:
all_data = visits.merge(cart,how="left").merge(checkout,how="left").merge(purchase,how="left")

In [153]:
all_data.shape

(2372, 5)

In [155]:
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaN,NaN,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaN,NaN
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaN,NaN,NaN
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaN,NaN,NaN

In [159]:
visits_cart.shape

(2000, 3)

In [143]:
cart_checkout.shape

(482, 3)

In [170]:
# Perform a left join between 'visits' and 'cart' DataFrames
# This keeps all rows from 'visits' and matching rows from 'cart'
# .shape returns the dimensions (rows, columns) of the resulting DataFrame
visits.merge(cart,how="left").shape

(2000, 3)

In [172]:
# Perform a left join of 'visits' with 'cart', then another left join with 'checkout'
# The shape attribute returns a tuple with the dimensions (rows, columns) of the resulting DataFrame
visits.merge(cart,how="left").merge(checkout,how="left").shape

(2134, 4)

In [167]:
visits.merge(cart,how="left").merge(checkout,how="left").merge(purchase,how="left").shape

(2372, 5)

### 8.What percentage of users proceeded to checkout, but did not purchase a t-shirt?

In [215]:
all_data.checkout_time.notna().sum()

598

In [207]:
len (all_data[all_data.checkout_time.notna() & all_data.purchase_time.isna()])

101

In [199]:
len(all_data)

2372

In [217]:
print(f"""
{( (101/598)*100):.2f}% of users proceeded to checkout, but did not purchase a t-shirt
""")

16.89% of users proceeded to checkout, but did not purchase a t-shirt

### 9. Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)?

In [242]:
# Users who visited
total_visits = len(all_data)

# Users who added to cart (non-null cart_time)
cart_users = all_data.cart_time.notna().sum()

# Users who checked out (non-null checkout_time)
checkout_users = all_data.checkout_time.notna().sum()

# Users who purchased (non-null purchase_time)
purchase_users = all_data.purchase_time.notna().sum()

# Drop-off rates based on the previous step
visit_to_cart_dropoff = (1 - cart_users / total_visits) * 100
cart_to_checkout_dropoff = (1 - checkout_users / cart_users) * 100
checkout_to_purchase_dropoff = (1 - purchase_users / checkout_users) * 100

print(f"Visit → Cart Drop-off: {visit_to_cart_dropoff:.2f}%")
print(f"Cart → Checkout Drop-off: {cart_to_checkout_dropoff:.2f}%")
print(f"Checkout → Purchase Drop-off: {checkout_to_purchase_dropoff:.2f}%")

Visit → Cart Drop-off: 69.65%
Cart → Checkout Drop-off: 16.94%
Checkout → Purchase Drop-off: 16.89%

### adding to cart is the weakest step as the drop of rate is much higher

## Average Time to Purchase 
### 10. Using the giant merged DataFrame all_data that you created, let’s calculate the average time from initial visit to final purchase. Start by adding the following column to your DataFrame:

##### all_data['time_to_purchase'] = \
#####     all_data.purchase_time - \
#####     all_data.visit_time

In [278]:
all_data["purchase_time"] = pd.to_datetime(all_data["purchase_time"])
all_data["cart_time"] = pd.to_datetime(all_data["cart_time"])
all_data["visit_time"] = pd.to_datetime(all_data["visit_time"])

all_data["time_to_purchase"] = all_data["purchase_time"] - all_data["visit_time"]

### 11. Examine the results using: print(all_data.time_to_purchase)

In [285]:
print(all_data.time_to_purchase)

0                  NaT
1      0 days 00:44:00
2                  NaT
3                  NaT
4                  NaT
             ...
2367               NaT
2368               NaT
2369               NaT
2370               NaT
2371               NaT
Name: time_to_purchase, Length: 2372, dtype: timedelta64[ns]

### 12. Calculate the average time to purchase using the following code: print(all_data.time_to_purchase.mean())

In [282]:
average_time = all_data["time_to_purchase"].mean()
print(f"Average time from visit to purchase: {average_time}")

Average time from visit to purchase: 0 days 00:43:53.360160965