# Pandas Assignment 2

#### 1. Data for all of the locations of Petal Power is in the file inventory.csv. Load the data into a DataFrame called inventory.

In [3]:
import pandas as pd

In [5]:
data  = pd.read_csv("inventory.csv")

#### 2. Inspect the first 10 rows of inventory.

In [11]:
data.head(10)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

#### 3. The first 10 rows represent data from your Staten Island location. Select these rows and save them to staten_island.

In [13]:
staten_island = data.head(10)

In [15]:
staten_island

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

#### 4. A customer just emailed you asking what products are sold at your Staten Island location. Select the column product_description from staten_island and save it to the variable product_request.

In [23]:
product_request = staten_island["product_description"]

#### 5. Another customer emails to ask what types of seeds are sold at the Brooklyn location.

In [36]:
brooklyn = data[10:20]
brooklyn

    location  product_type         product_description  quantity  price
10  Brooklyn         seeds                       daisy        50   6.99
11  Brooklyn         seeds                  calla lily         0  19.99
12  Brooklyn         seeds                      tomato         0  13.99
13  Brooklyn  garden tools                        rake        15  13.99
14  Brooklyn  garden tools                 wheelbarrow        82  89.99
15  Brooklyn  garden tools                       spade        36  19.99
16  Brooklyn  pest_control               insect killer        80  12.99
17  Brooklyn  pest_control                 weed killer        76  23.99
18  Brooklyn       planter  20 inch terracotta planter         5  17.99
19  Brooklyn       planter      8 inch plastic planter        26   3.99

In [42]:
seed_request = data[data["location"]=="Brooklyn" and  data["product_type"] == "seeds"]
seed_request

10         daisy
11    calla lily
12        tomato
Name: product_description, dtype: object

####